# datsets
*.mat
*.hea
*.csv
*.json
*.geojson
*.skeleton
*.h5
*.grd

# images / videos
*.png
*.jpg
*.jpeg
*.gif
*.mp4

# web
*.html

# cache
*.pyc
*.DS_Store
.pytest_cache/

#dump
_dump/

#plots
plots/

# VS Code
.vscode/
*.code-workspace

# torch
*.pth
*.pt