# datsets
*.mat
*.hea
*.csv
*.json
*.geojson
*.skeleton
*.h5
*.grd

# torch
*.pth
*.pt

# images / videos
*.png
*.jpg
*.jpeg
*.gif
*.mp4

# web
*.html

# cache
*.pyc
*.DS_Store

#dump
_dump/

#plots
plots/