[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torch-geometric = "*"
torch-geometric-temporal = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
install-signatory = "./install_signatory.sh"
