pytest==7.4.0
torch==2.1.2
signatory==1.2.7.2.1.2
torch_geometric==2.4.0
torch_geometric_temporal==0.54.0
torch-sparse==0.6.18
torch-scatter==2.1.2
pandas>=2.2.2
matplotlib>=3.3.4
numpy>=1.26.3
scipy>=1.11.4
scikit-learn>=1.3.2
rasterio==1.3.10
geopandas==0.14.4
shapely==2.0.4
libpysal==4.11.0
requests==2.31.0
jinja2==3.1.3p
psutil==5.9.7
pyparsing==3.1.1
tsfresh==0.20.1
sktime==0.25.0
pyyamal==6.0.1
torch-cluster==1.6.3


